/* login section */
.logo-box {
    transition: 0.5s;
    margin-top: 100px;
    user-select: none;
}


.logo-box h3 {
    color: #355b82;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo-box p {
    font-size: 30px;
    color: #355c824f;
}

.login-form {
    border: 1px solid #355c824f;
    transition: 0.5s;
    background-color: white;
    margin-top: 90px;
    cursor: text;
}

.login-form:hover {
    border-color: #a5d2ff;
    box-shadow: 0 0 50px -29px #66b2ff;
}

.login-form .form-title {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    color: #355b82;
}

.login-form input {
    cursor: pointer;
}

.login-form input[type='text'],
input[type='password'] {
    padding: 10px;
    padding-left: 30px;
    color: #343a40;
    border-color: #355b8245;
}

.login-form input {
    transition: 0.5s;
}

.login-form input:focus {
    border-color: #355b82 !important;
    box-shadow: 0 0 34px .25rem #7698ff3a !important;
    transform: scale(1.02);
}

.login-form .form-check {
    margin: auto;
    margin-left: 15px;
}

.login-form #rmm {
    border-color: #58687e9c;
}

.login-form input::placeholder {
    opacity: 1;
    color: #a5aac2;
}

.login-form button[type="submit"] {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    font-size: 18px;
    text-transform: uppercase;
    background-color: transparent;
    border-color: #355b82;
    border-width: 1px;
    border-style: solid;
    color: #355b82;
    font-weight: 600;
    transition: 0.5s;
}

.forget-pwd {
    text-align: center;
    text-decoration: none;
    color: #355b82b2;
    display: flex;
    justify-content: center;
    font-weight: 600;
    transition: 0.5s;
}

.forget-pwd:hover {
    text-decoration: underline 2px dotted #355b82;
    color: #355b82;
}

.login-form button[type="submit"]:hover {
    background: #355b82;
    color: white;
    transform: scale(1.1);
}

/* SignUp Form */
.sign-up {
    margin: 20px auto !important;
}

.sign-up-logo {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: auto;
    width: max-content;
}

.sign-up-logo .logo-title {
    text-align: left;
    display: block;
    transform: rotate(-90deg);
    font-size: 9rem;
    margin-left: 10px;
    opacity: 10%;
    object-position: 0px;
    z-index: -1;
}

.sign-up .inline {
    display: inline-block;
    margin-right: 10px;
    width: 49%;
}

.sign-up input {
    padding: 10px;
    padding-left: 30px;
    color: #343a40;
    border-color: #355b8245;
    transition: 0.3s !important;
}